<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="rean logo" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/mealkits">Meal Kits</a>
        </li>

        <% if(typeof user === "undefined"){ %>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-dark nav-btn" href="/log-in">Log In</a>
          </li>
        <% } else { %>
          <% if (user.role === 'clerk') { %>
            <li class="nav-item">
              <a class="nav-link" href="/mealkits/list">Manage Meal Kits</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
          <% } %>

          <li class="nav-item">
            <span class="nav-link">Hi, <%= user.firstName %> 👋</span>
          </li>

          <li class="nav-item">
            <a class="btn btn-outline-dark nav-btn" href="/log-out">Log Out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>