<!-- Base structure for the error html from https://bootswatch.com/lux/ modifed by Chanhee Han-->
<div class="alert alert-dismissible alert-warning text-center">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading text-center fs-2">Sorry error code <%= statusCode %> occured!</h4>
  <p class="mb-0 text-center mt-4 fs-2"><%= title %></a>.</p>

  <a href="/" class="btn btn-dark btn-lg mt-3 align-items-center ">Back to Home</a>

</div>