<!-- Base structure for sign-up html frame from: https://bootswatch.com/lux/ modified by Chanhee Han -->

<div class="container mt-5">
<p class="fw-bold text-center form-text text-dark fs-4">Create your account by entering your email adrress and choosing a password</p>

<form class="border rounded p-4 shadow-sm border-dark">
  <fieldset>
     <div>
      <label for="signUpInputEmail1" class="form-label mt-4 text-center fs-6">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
     <div>
      <label for="signUpInputEmail1" class="form-label mt-4 text-center fs-6">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>

    <div>
      <label for="signUpInputEmail1" class="form-label mt-4 text-center fs-6">Email address</label>
      <input type="text" class="form-control" id="signUpInputEmail1" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div>
      <label for="signUpPassword" class="form-label mt-4 text-center fs-6">Password</label>
      <input type="text" class="form-control" id="signUpPassword" placeholder="Password" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-primary text-center mt-4 px-5">Submit</button>
    
  </fieldset>
</form>
</div>