<!-- Base structure for log-in html frame from https://bootswatch.com/lux/ modifed by Chanhee Han-->

<div class="container mt-5">
<p class="fw-bold text-center form-text text-dark fs-4">Welcome back!</p>

<form method="post" action="/log-in" class="border rounded p-4 shadow-sm border-dark">


      <label for="email" class="form-label mt-4 text-center fs-6">Email address</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value="<%= values.email %>">
      <% if (validationMessages.email) { %>
      <span style="color:red"> <%=validationMessages.email %> </span> <br/>
      <% } %>
    
      <label for="passWord" class="form-label mt-4 text-center fs-6">Password</label>
      <input type="password" class="form-control" id="passWord" name="passWord" placeholder="Password" autocomplete="off" value="<%= values.passWord %>">
      <% if (validationMessages.passWord) { %>
      <span style="color:red"> <%=validationMessages.passWord %> </span> <br/>
      <% } %>
      <legend class="mt-4"></legend>
      <div class="form-check form-switch">
        <input class="form-check-input" type="radio" id="loginCustomer" name="identificationLogIn" checked="" value="customer">
        <label class="form-check-label" for="loginCustomer">Customer</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="radio" id="loginClerk" name="identificationLogIn" value="clerk">
        <label class="form-check-label" for="loginClerk">Data Clerk</label>
      </div>


    <button type="submit" class="btn btn-primary text-center mt-4 px-5">Log in</button>

</form>
</div>