<div class="container py-5">
    <% if (typeof allMealKits !== 'undefined' && allMealKits.length > 0) { %>
        
        <div class="row mt-5 mb-3">
            <div class="col-12">
                <h2 class="fw-bold border-bottom pb-2">Our Menu</h2>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <% allMealKits.forEach(mealkit => { %>
                <div class="col">
                    <%- include("./mealkit", { selectedMealKit: mealkit }) %>
                </div>
            <% }) %>
        </div>

    <% } else { %>
        <div class="text-center py-5">
            <p class="lead">No meal kits available at the moment.</p>
        </div>
    <% } %>
</div>